@import "../../styles/tools.scss";

.container {
    // font-size: 10px;
    @include ellipsis();
}

.content-wrapper {
    min-height: 300rpx;
    background-color: #fff;
}
.container {
    .title {
        &.m-a {
            &.t-a-c {
                font-size: 50rpx;
            }
        }
    }
}
